[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Product/client-gateway.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Microservices-Product/orders-ms.git
[submodule "product-ms"]
	path = product-ms
	url = https://github.com/Nest-Microservices-Product/products-ms.git
[submodule "payment-ms"]
	path = payment-ms
	url = https://github.com/Nest-Microservices-Product/payment-ws.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Nest-Microservices-Product/auth-ms.git
